@logo_img: url('http://www1-11ee.kxcdn.com/img/islogo.png');

body, html {
  min-height: 100%;
  max-width: 100%;
  padding-bottom: 40px;
}

.alignCenter() {
  margin-left: auto;
  margin-right: auto;
}

#header {
  #logo {
    background: @logo_img no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    .alignCenter();
    margin-top: 25px;
    opacity: 0.95;
  }
  #logo_text {
    margin-top: 20px;
    text-align: center;
    font-size: 35pt;
    color: rgba(0, 0, 0, 0.8);
  }
  padding-bottom: 15px;
}

#body {
  h1 {
    border-bottom: 1px solid #EEE;
    padding-bottom: 4px;
  }
  ul > li {
    font-size: 12.5pt;
  }
  p {
    font-size: 12.5pt;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  left: 0;

  padding-top: 5px;
  padding-bottom: 5px;

  #credits {
    float: left;
  }
  #contact {
    float: right;
  }
}