<!--
    @Copyright: {{meta.author}}
-->
<!DOCTYPE HTML>
<head>
    <title>{{meta.title}} | IntellectualServer</title>
    /* Boostrap stylesheet */
    <link rel="stylesheet" type="text/css" href="http://www1-11ee.kxcdn.com/css/bootstrap.min.css" />
    /* Our customized stylesheet */
    /* <link rel="stylesheet" type="text/css" href="./assets/less/stylesheet.less" /> */
    /* Using the compiled and minified one instead */
    <link rel="stylesheet" type="text/css" href="https://www1-11ee.kxcdn.com/css/iserver.css" />
    /* jQuery */
    <script src="https://www1-11ee.kxcdn.com/js/jquery-2.1.4.min.js" rel="script" type="text/javascript"></script>
    /* Bootstrap javascript */
    <script src="http://www1-11ee.kxcdn.com/js/bootstrap.min.js" rel="script" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('[title]').tooltip();
        });
    </script>
</head>