<!DOCTYPE HTML>{{:
    [title: IntellectualServer]
    [author: Sauilitired/Citymonstret]
    [copyright: IntellectualSites]
:}}<html>
    {{include:/views/html/header.html}}
    <br>
        <div class="container">
            <h1>
                IntellectualServer &amp; CrushTemplate
            </h1>
            <p>
                CrushTemplate is our very own unique template engine; it's shipped natively with IntellectualServer!
                <br><br>
                <b>
                    So... what can it do?
                </b>
                <br><br>
                Well, it has the ability to:
                <ul>
                    <li>Include files</li>
                    <li>Access variables &amp; and config files</li>
                    <li>Use filters on those variables</li>
                    <li>Use if statements with the variables</li>
                </ul>
                <div id="crush-test">
                    <div class="example">
                        Hello {{session.username || UPPERCASE}},
                        <br>
                        It's currently {{system.time || LOWERCASE}} and the document is named {{document.name}}!
                        <br>
                        The server is running on port {{cfg.server@port}} and the hostname is {{cfg.server@hostname}}
                        <br>
                        At the time of reading this we support these filters:
                        {{system.filters || LIST}} and the one used was LIST!
                        <br>
                        <br>
                        FOREACH ATTEMPT
                        <br>

                        <ol>
                        {#foreach system.filters -> filter}
                            <li>{{filter}}</li>
                        {/foreach}
                        </ol>

                    </div>
                    <div class="code">
                        <code id="explanation">
                            Hello &#123;&#123;session.username || UPPERCASE&#125;&#125;,
                            <br>
                            It's currently &#123;&#123;system.time || LOWERCASE&#125;&#125; and the document is named &#123;&#123;document.name&#125;&#125;!
                            <br>
                            The server is running on port &#123;&#123;cfg.server@port&#125;&#125; and the hostname is &#123;&#123;cfg.server@hostname&#125;&#125;
                            <br>
                            At the time of reading this we support these filters:
                            &#123;&#123;system.filters || LIST&#125;&#125; and the one used was LIST!
                        </code>
                    </div>
                </div>
                <div class="example">
                    Output: {{post.test}}
                    <form method="POST" action="#">
                        <input type="text" name="test" placeholder="TEST" required>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            <div class="code">
                &#123;&#123;post.test&#125;&#125;
            </div>
                <div id="if-test">
                    <div class="example">
                        {#if system.true}
                            True was true
                        {/if}
                        <br>
                        {#if !system.false}
                            !False was true
                        {/if}
                    </div>
                    <div class="code">
                        <code>
                            &#123;#if system.true&#125;
                                True was true
                            &#123;/if&#125;
                            <br>
                            &#123;#if !system.false&#125;
                                !False was true
                            &#123;/if&#125;
                        </code>
                    </div>
                </div>
            </p>
            <div id="copyright">
                Copyright &copy; IntellectualSites 2015
            </div>
        </div>
    </body>
</html>