{{:
[title: Index]
[author: Sauilitired/Citymonstret]
[copyright: IntellectualSites]
:}}
<html>
{{include:./views/html/header.html}}
<body>
<div class="container">
    <div id="header">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div id="logo"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div id="logo_text">
                    IntellectualServer
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="body">
        /* Introduction Text & Stuff */
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h1>
                    Introduction
                </h1>

                <p> /* First Piece of Description */
                    IntellectualServer is our own handcrafted webserver, written entirely in Java.
                    It is not meant to replace your traditional webserver (such as Nginx), but
                    it is fully capable of being used on it's own - If you so desier. We initially
                    created this piece of software, as we needed a simple way to use java to serve
                    dynamic content on the web. We found this usable in more situations than the
                    one we first imagined. That lead us to continue developing the software, into
                    what it is today.
                </p>

                <p> /* Some bragging */
                    IntellectualServer is made to support both static and dynamic content, with
                    built in caching and back-end speed optimization. We are proud to present
                    what we think is the new generation of Java-based web development.
                </p>
            </div>
        </div>
        /* System Requirements */
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h1>
                    System Requirements
                </h1>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <h2>
                            Minimum
                        </h2>
                        <ul>
                            <li>
                                <b>OS:</b> Any OS that supports the Java virtual machine
                            </li>
                            <li>
                                <b>RAM:</b> 128MB RAM allocated to the runtime
                            </li>
                            <li>
                                <b>Java Version:</b> Java 1.7
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <h2>
                            Recommended
                        </h2>
                        <ul>
                            <li>
                                <b>OS:</b> Debian based OS, Windows 7+, CentOS
                            </li>
                            <li>
                                <b>RAM:</b> 512MB RAM allocated to the runtime
                            </li>
                            <li>
                                <b>Java Version:</b> Java 1.8
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        /* Showcase of the crush engine */
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h1>
                    Crush Engine
                </h1>
                <p>
                    This site is served using IntellectualServer. IntellectualServer has a
                    custom templating system built in, along with some custom syntax that
                    is used to enhance the HTML experience.
                </p>
                <br>
                <h4>Crush comes with these syntax features:</h4>
                <ul id="syntax_showcase">
                    <li>
                        Comments <code title="Not visible to the user">&#47;* Comment *&#47;</code>
                    </li>
                    <li>
                        Variables with filters <code title="You can register your own providers">&#123;&#123;provider.variable || filter&#125;&#125;</code>
                    </li>
                    <li>
                        Foreach loops <code>&#123;#foreach provider.variable -> temp&#125;</code>
                    </li>
                    <li>
                        If statements (and reverse if statements) <code title="Allows '!' as a prefix, which revers the boolean value of the variable">&#123;#if variable&#125;&#123;/if&#125;</code>
                    </li>
                    <li>
                        File inclusion <code>&#123;&#123;include:./file/name&#125;&#125;</code>
                    </li>
                    <li>
                        Meta variables
                    </li>
                </ul>
            </div>
        </div>
        /* Getting started */
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h1>
                    Getting Started
                </h1>
                <p>
                    We have a wiki, that we keep as up to date as possible at all times. That wiki can
                    be found <b><a title="GitHub Wiki" href="https://github.com/IntellectualSites/IntellectualServer/wiki">HERE</a></b>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="text-left" id="credits">
                    IntellectualServer is proudly developed by <a title="Visit IntellectualSites" href="https://intellectualsites.com/">IntellectualSites</a>
                </div>
                <div class="text-right" id="contact">
                    You can contact us at <a title="Support E-Mail" href="mailto:support@intellectualsites.com">support@intellectualsites.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>